# CMake
/_deps/
/build/
/bin/
/lib/
/CMakeFiles/
/Testing/
CMakeCache.txt
*.cmake
Makefile
install_manifest.txt
DartConfiguration.tcl

# Visual Studio
*.suo
*.user
*.sln.docstates

# Xcode
*.user.*
*.workspace
*.xcuserdata/

# Compiled Object Files
*.o
*.a
*.so
*.dll
*.dylib

# Temporary Files
*~
.*.swp
CMakeLists.txt.user

# System Files
.DS_Store

